{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions: 
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set header_container = theme.settings.header_container ? 'container-fluid header-margin' : 'container' %}

{# Header print #}
<div class="visible-print-block header-print page-header">
  <div class="{{ container }}">
    <div class="row">
      <div class="col-sm-12">
        {# Logo print #}
        {% if logo_print %}
          <img class="logo pull-left visible-print-inline-block" src="{{ logo_print }}" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
        
{# hero_slider #}
{% if page.hero_slider %}
{% block hero_slider %}
  <div class="hero_slider">
    {{ page.hero_slider }}
  </div>
{% endblock %}
{% endif %}

<section id="showcase" class="stars-active">
        <div class="stars" id="stars">
        </div>
        <div class="stars" id="stars2">
        </div>
        <div class="stars" id="stars3">
        </div>       
        <div id="stars-overlay">
        </div>
        
        <div id="blue-planet-wrapper">
            <img id="blue-planet" src="/kaleidoscope/themes/custom/vartheme_material/images/svg/blue-planet.svg">
        </div>
        <img id="moon" src="/kaleidoscope/themes/custom/vartheme_material/images/svg/moon.svg">
        <img id="gas-planet" src="/kaleidoscope/themes/custom/vartheme_material/images/svg/gas-planet.svg">
        <div id="blue-planet-overlay">
        </div>
        <div id="down-arrow">
            <a href="https://getgrav.org/#homepage_showcase"><i class="fa fa-angle-down pulse infinite animated"></i></a>
        </div>
        <header>
        <div class="container">
            <div class="row">
            {# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : header_container,
        header_container,
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} class="page-nav-scrolled" role="banner">
      {% if not navbar_attributes.hasClass(header_container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse navigation collapse navbar-right">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(header_container) %}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

                
            </div>
        </div>
        </header>
        <div class="container">
            <div class="row" id="showcase-content">
                <!--<div class="content revealOnScroll animated fadeIn" data-animation="fadeIn" data-timeout="100">
                   
                </div>-->
               

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      
      <section{{ content_attributes.addClass(content_classes) }} id="front">

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        <h1>Search <strong>Current</strong> Affairs</h1>
        <h5>browse the most asked and most selective contents in the web for IAS exam</h5>
        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>       
    </div>
  </div>
{% endblock %}



            </div>
        </div>
	</section>











{% if page.footer %}
  {% block footer %}
    <div class="footer-wrapper">
      <footer class="footer" role="contentinfo">
        {{ page.footer }}
      </footer>
      <footer>
<div class="container">
	<div class="padding">
		<div id="up-arrow">
			<a href="https://getgrav.org/#" id="totop"><i class="fa fa-angle-up pulse infinite animated"></i></a>
		</div>
		<a href="https://getgrav.org/downloads" class="button button-solid button-fancy">
		Download Grav </a>
		<style>
          #mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
          .mc-field-group { display: inline-block; } /* positions input field horizontally */
          #mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
          #mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
          #mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
          #mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
          #mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
          #mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
          #mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
          #mc_embed_signup #mce-error-response {display:none;}
          #mc_embed_signup #mce-success-response {color:#529214; display:none;}
          #mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
          @media (max-width: 768px) {
              #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
              #mc_embed_signup .clear {display: block; width: 100% }
              #mc_embed_signup .button {width: 100%; margin:0; }
          }
          #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          #mc_embed_signup input.email { vertical-align: baseline; height: 35px; }
          #mc_embed_signup .button { height: 35px; line-height: 38px; background-color: #0ec1f6; }
		</style>
		<div>
			<h4>Never miss a thing, sign up to the Grav mailing list</h4>
			<!-- Begin Mailchimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="https://getgrav.us13.list-manage.com/subscribe/post?u=5e74b7192cbe99f46f82dc17f&amp;id=8156f2cdbd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
					<div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<input type="email" value="" placeholder="email address" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none">
							</div>
							<div class="response" id="mce-success-response" style="display:none">
							</div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="b_5e74b7192cbe99f46f82dc17f_8156f2cdbd" tabindex="-1" value="">
						</div>
						<div class="clear">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
					</div>
				</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
		<div class="row">
			<div class="six columns right">
				<p>
					<a href="http://getgrav.org/">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com/">RocketTheme</a>
				</p>
				<p>
					 CDN provided by <a href="http://maxcdn.com/"><i class="fa fa-maxcdn"></i> MaxCDN</a>
				</p>
				<p>
					 Designed by <a href="https://dribbble.com/eduardo">Eduardo Santos</a>
				</p>
			</div>
			<div class="six columns left">
				<ul>
					<li><a href="mailto:contact@getgrav.org">Contact the Grav Team</a></li>
					<li><a href="https://getgrav.org/about">About Grav</a></li>
					<li><a href="https://getgrav.org/media">Grav Media</a> Information</li>
					<li><a href="https://getgrav.org/blog.atom">Grav News Feed</a></li>
				</ul>
			</div>
		</div>
		<p>
			 Crazy Fast VPS Hosting <a href="https://www.linode.com/?r=300c424631b602daaa0ecef22912c1c26c81e3af">Sponsored by Linode</a> - managed by <a href="https://www.serverpilot.io/?refcode=fb58eb54aecc">ServerPilot</a> - monitoring by <a href="https://pingometer.com/">Pingometer</a>
		</p>
		<p>
			 Copyright @2019 - Grav CMS - All rights reserved - Grav is released under the <a href="https://github.com/getgrav/grav/blob/develop/LICENSE.txt">MIT license</a>
		</p>
	</div>
</div>
</footer>



    </div>
  {% endblock %}
{% endif %}

